---
import SectionLayout from "@/layouts/SectionLayout.astro";
import Profile from "@/assets/profile.png";
---

<SectionLayout title="Acerca de Mí" id="about">
    <img src={Profile.src} alt="Iñaqui Paladino" class="rounded-full size-44 md:size-56 mx-auto mb-8" />

    <div class="space-y-2 text-lg md:text-xl text-center md:text-justify">
        <p>
            ¡Hola! Me llamo <span class="text-pink-600">Iñaqui Paladino</span>, tengo <span class="text-pink-600">22 años</span> y vivo en la ciudad de Olavarría, provincia de Buenos Aires, Argentina. Desde muy chico me intereso el mundo de las computadoras y comprender tanto su software como su hardware. Esto me llevó en mi adolescencia a aprender mi primer lenguaje de programación: <span class="text-pink-600">C</span>, con el que escribi juegos simples de consola. Actualmente, estoy finalizando la carrera de <span class="text-pink-600">Ingeniería de Sistemas</span> en la UNICEN, donde me queda terminar de escribir y presentar mi tesis para culminar mis estudios.
        </p>
        <p>
            A lo largo de mi formación, he adquirido una sólida base en el <span class="text-pink-600">diseño y arquitectura de sistemas</span>, enfocándome en comprender la <span class="text-pink-600 italic">big picture</span> de los proyectos. Esto me permite analizar y estructurar soluciones eficaces que integran diversos componentes tecnológicos. He trabajado en equipos de desarrollo utilizando metodologías ágiles como <span class="text-pink-600">Scrum</span> y <span class="text-pink-600">SAFe</span>, manejando herramientas de gestión como <span class="text-pink-600">Jira</span> y <span class="text-pink-600">Trello</span>, y colaborando en la gestión de código con <span class="text-pink-600">Git</span>.
        </p>
        <p>
            Complementando mis habilidades técnicas, también he desarrollado habilidades blandas como la <span class="text-pink-600">comunicación efectiva</span>, la <span class="text-pink-600">colaboración en equipo</span>, y la <span class="text-pink-600">resolución de problemas</span>. Mi capacidad de adaptación y atención a los detalles me ayudan a enfrentar nuevos desafíos con confianza y a mantener un enfoque constante en el aprendizaje y la mejora continua.
        </p>
    </div>

</SectionLayout>    
