---
interface Props {
    text: string,
}

const {text} = Astro.props;
---

<div class="hover:scale-95 relative transition-all duration-200 ease-in-out overflow-hidden rounded-xl hover:shadow-lg hover:shadow-white/30" aria-label={text}>
    <div class="snakeEffect absolute bg-white rounded-md animate-snakeBorder filter blur-sm"></div>

    <div class="text-white font-bold bg-black p-1 md:p-2 text-lg rounded-xl border border-black block transition-all duration-200 ease-in-out relative m-[2px;]">{text}</div>
</div>
<style>
    .snakeEffect {
        inset: 50% -70% -70% 50%;
        transform-origin: 0 0;
    }
</style>
