---

---
<header id="header" class="sticky top-0 z-50 text-white font-extrabold text-base md:text-lg pr-2 md:pr-8 shadow-xl flex items-center motion-preset-slide-right motion-delay-0">
    <a href="/" class="p-2 md:p-4">Iñaqui</a>

    <span class="flex-1"></span>

    <nav class="p-4">
        <ul class="flex space-x-4">
            <li class="transform transition-all hover:translate-y-1 hover:underline underline-offset-8 decoration-2 decoration-gray-400"><a href="#about">Acerca</a></li>
            <li class="transform transition-all hover:translate-y-1 hover:underline underline-offset-8 decoration-2 decoration-gray-400"><a href="#tecnologias">Tecnologías</a></li>
            <li class="transform transition-all hover:translate-y-1 hover:underline underline-offset-8 decoration-2 decoration-gray-400"><a href="#proyectos">Proyectos</a></li>
        </ul>
    </nav>
</header>

<script>
window.addEventListener('scroll', function() {
    const header = document.querySelector('header');
    if (window.scrollY > window.innerHeight) {
        header.classList.add('scrolled');
    } else {
        header.classList.remove('scrolled');
    }
});
</script>
