---
interface Props {
    text: string;
}

const {text} = Astro.props as Props;
---

<div class="flex flex-col gap-2 items-center justify-between shadow-lg border p-2 md:p-3 hover:motion-preset-bounce motion-duration-500" aria-label="Habilidad o tecnologia">
    <slot />
    <p class="text-gray-600 text-sm md:text-lg font-bold">{text}</p>
</div>
