---
import Button from './Button.astro';
import GithubMark from '@/assets/github-mark.svg';
import LinkedinMark from '@/assets/linkedin-mark.svg';
import MailSvg from '@/assets/mail.svg';
---

<div class="flex flex-col ml-8">
    <p class="text-2xl lg:text-4xl font-bold text-white mb-2">Hola, soy</p>

    <h1 class="mb-2 pt-2 font-sans motion-preset-typewriter-[14] motion-loop-infinite motion-duration-[3s] mx-0 text-transparent uppercase bg-clip-text bg-gradient-to-br to-[#562b63] from-20% via-[#e082c9] via-60% from-[#f7d8e9] to-80% leading-normal text-4xl md:text-7xl lg:text-9xl font-extrabold">Iñaqui Paladino</h1>

    <p class="text-2xl lg:text-4xl font-bold text-white mb-4">Estudiante de Ingeniería de Sistemas</p>

    <div class="flex gap-2">
        <a href="/inaqui-paladino-cv.pdf" download>
            <Button text="Descargar CV" />
        </a>
        <a class="hover:scale-95 rounded-full hover:shadow-lg hover:shadow-white/30" href="https://github.com/Thesportydar"><GithubMark width={48} height={48} fill="white" /></a>
        <a class="hover:scale-95 rounded-xl hover:shadow-lg hover:shadow-white/30" href="https://www.linkedin.com/in/ipaladino/"><LinkedinMark width={48} height={48} fill="white" /></a>
        <a class="hover:scale-95 rounded-2xl hover:shadow-lg hover:shadow-white/30" href="mailto:ipaladinobravo@gmail.com"><MailSvg width={48} height={48} fill="white" /></a>
    </div>

</div>
