---
import Button from './Button.astro';
import GithubMark from '@/assets/github-mark.svg';
import LinkedinMark from '@/assets/linkedin-mark.svg';
import MailSvg from '@/assets/mail.svg';
---

<div class="flex flex-col ml-4 lg:ml-8">
    <h2 class="text-2xl lg:text-4xl font-bold text-white">Hola, soy</h2>

    <h1 class="py-1 md:py-4 font-sans motion-preset-typewriter-[16] motion-loop-infinite motion-duration-[3s] text-transparent uppercase bg-clip-text bg-gradient-to-br to-[#562b63] from-20% via-[#e082c9] via-60% from-[#f7d8e9] to-80% leading-normal text-3xl md:text-5xl lg:text-8xl font-extrabold">Iñaqui Paladino</h1>

    <h2 class="text-2xl lg:text-4xl font-bold text-white mb-4">Estudiante de Ingeniería de Sistemas</h2>

    <div class="flex gap-2">

        <!--CV-->
        <a href="/inaqui-paladino-cv.pdf" download aria-label="Descargar CV">
            <Button text="Descargar CV" />
        </a>

        <!--Github-->
        <a class="hover:scale-95 rounded-full hover:shadow-lg hover:shadow-white/30" href="https://github.com/Thesportydar" aria-label="Link al perfil de Github" target="_blank">
            <GithubMark class="size-10 md:size-12" fill="white" />
        </a>

        <!--Linkedin-->
        <a class="hover:scale-95 rounded-xl hover:shadow-lg hover:shadow-white/30" href="https://www.linkedin.com/in/ipaladino/" aria-label="Link al perfil de Linkedin" target="_blank">
            <LinkedinMark class="size-10 md:size-12" fill="white" />
        </a>

        <!--Mailto-->
        <a class="hover:scale-95 rounded-2xl hover:shadow-lg hover:shadow-white/30" href="mailto:ipaladinobravo@gmail.com" aria-label="Enviar un mail">
            <MailSvg class="size-10 md:size-12" fill="white" />
        </a>

    </div>

</div>
