---
import Header from '@/components/Header.astro';
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/ip-logo.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Iñaqui Paladino | Portfolio</title>
        <meta name="keywords" content="Iñaqui Paladino, Portfolio, Desarrollador, Ingeniero de Sistemas, Tandil, Argentina" />
        <meta name="description" content="¡Hola! Soy Iñaqui Paladino, un desarrollador web y estudiante de Ingeniería de Sistemas de Tandil, Argentina. ¡Bienvenido a mi portfolio!" />
        <meta name="author" content="Iñaqui Paladino" />
    </head>
    <body class="w-full bg-black">

        <Header />

        <slot />
    </body>

    <style is:global>
        :root {
            --font-family: Inter, ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        body {
            font-family: var(--font-family);
            --scroll-position: 0;
        }
    </style>
</html>
