---
interface Props {
    id: string;
    title: string;
}
const {id, title} = Astro.props;
---

<section id={id} class="opacity-0 intersect:translate-x-0 intersect:opacity-100 transition-all ease-out duration-300 -translate-x-40 scroll-mt-20 mx-auto w-full lg:max-w-5xl lg:px-4">

    <div class="flex w-full items-center mb-8 lg:mb-16">
        <hr class="border border-gray-300 flex-grow" />
        <h1 class="text-gray-800 font-black text-3xl md:text-4xl text-center mx-8">{title}</h1>
        <hr class="border border-gray-300 flex-grow" />
    </div>

    <div class="mx-4 lg:mx-0">
        <slot />
    </div>

</section>
